<h1>Projects</h1>

<div>
  <h2 style="display:inline-block">BoneUtils</h2>
  <div class="projectStatusWip">In development</div>
  <div class="repoLink">
    <a href="https://github.com/cfsen/BoneUtils">Repository</a>
     | 
  <div class="projectKeywords">C#, OOP, Raylib, architecture, linear algebra, trigonometry</div>
  </div>
  <p>
    With BoneUtils, I'm building an expandable, portable, and testable base structure for 3D skeletons. It currently supports basic transform propagation and a Raylib demo, with plans to add support for animation and inverse kinematics down the line.
  </p>
  <div>
    <div
      class="writeupLink"
      hx-get="writeups/boneutils.md"
      hx-target="#content"
      hx-swap="innerHTML">
      Read more
    </div>
  </div>
</div>
<br />
<div>
  <h2 style="display:inline-block">Ktisis (fork)</h2>
  <div class="projectStatusWip">In development</div>
  <div class="repoLink">
    <a href="https://github.com/cfsen/Ktisis/tree/v0.3/lazy/lazy-imgui-7.2">Repository</a>
     | 
  <div class="projectKeywords">C#, OOP, ImGui, UI/UX, linear algebra, trigonometry</div>
  </div>
  <p>
    My personal fork of Ktisis, a plugin that extends the functionality of Final Fantasy XIV's photography mode. What began as a few small tweaks, turned into rebuilding the UI and adding a range of features. Still in active development.
  </p>
  <div>
    <div
      class="writeupLink"
      hx-get="writeups/ktisis.v2.md"
      hx-target="#content"
      hx-swap="innerHTML">
      Read more
    </div>
  </div>
</div>
